@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.4px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #fff;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
}

.logo img {
  width: 170px;
}

.logo img,
.logo p {
  margin: 0 auto;
}

.form {
  width: 350px;
}

.form form .error-txt {
  color: #721c24;
  background: #f8d7da;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  margin: 10px 0;
  border: 1px solid #facbd0;
}

.form form .field {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.form form .input input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form form .input label {
  padding: 10px 0;
}

.form form .link {
  text-align: center;
  margin: 10px 0;
  font-size: 17px;
}

.form form .link a:hover {
  text-decoration: underline;
}
